@mixin flex-middle() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin position-middle() {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button-sizing($width, $background, $color) {
  width: $width;
  height: 3.125rem;
  border-radius: 4px;
  border: none;
  background: $background;
  color: $color;
  font-size: 1rem;
  margin: 0 0 0 1.25rem;
}
